{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MusicPlayer 8</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="{% static 'music_converter/css/main.css' %}">

</head>
<body>
    <section id="main">
        <div class="logo">
            <img src="{% static 'music_converter/images/logo.png' %}" alt="">
        </div>
        <p class="subtitle">Listen to your favourite music from a unique perspective</p>
        <div class="card">
            <label for="urlInput" id="loadingLabel">Enter YouTube URL</label>
            <div class="inline-inputs">
                <button id="play"><i class="fa fa-play"></i></button>
                <div class="progressBar">
                    <input type="text" id="urlInput" placeholder="http://www.youtube.com/watch?v=ABCDEFG">
                    <div class="bg"></div>
                </div>
                <button id="submit">GO</button>
            </div>
        </div>

        <audio></audio>
    
    </section>

    <script
    src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous"></script>

    <script>
        const audioPlayer = document.querySelector("audio")

        // controls

        let audioPlayerShown = false;
        const playButton = document.querySelector("#play")
        const seeker = document.querySelector(".bg")
        const duration = document.querySelector("#submit")

        function togglePlayback(){
            if(audioPlayer.paused){
                // Play
                playButton.innerHTML = '<i class="fa fa-pause"></i>';
                audioPlayer.play();
            } else {
                // Pause
                playButton.innerHTML = '<i class="fa fa-play"></i>';
                audioPlayer.pause();
            }
        }

        document.querySelector("#urlInput").addEventListener("click", seek);

        function seek(e){
            if(audioPlayerShown){
                const x = e.pageX - $('#urlInput').offset().left;
                const percent = x / $('#urlInput').outerWidth();
                const newPos = percent * audioPlayer.duration;
                audioPlayer.pause();
                audioPlayer.currentTime = newPos;
                audioPlayer.play();
            }
        }

        audioPlayer.ontimeupdate = function(e){
            let progress = (audioPlayer.currentTime / audioPlayer.duration)*100
            $(seeker).css("width", progress + "%");
            duration.innerHTML = new Date(audioPlayer.currentTime * 1000).toISOString().substr(14, 5)
        }

        playButton.onclick = togglePlayback


        // downloader
        function showPlayer(){
            $(playButton).fadeIn(100).css("width", "auto");
            $(seeker).css("height", "20%").css("top", "40%");
            duration.setAttribute("disabled", "")
            $(duration).css("width", "90px");
            $("#urlInput").css("opacity", "0").css("cursor", "pointer");

            audioPlayerShown = true;
        }

        const convertSocket = new WebSocket(
            "ws://"
            + window.location.host
            + "/ws/converter/"
        );

        convertSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            if (data.status === "fail"){
                document.querySelector("#submit").removeAttribute("disabled");
                $("#urlInput").prop('readonly', false);
                document.querySelector("#submit").classList.remove("active");
                document.querySelector("#loadingLabel").innerHTML = "Enter YouTube URL";
            }else if(data.progress === 100){
                setTimeout(function(){
                    audioPlayer.src = data.src;
                    togglePlayback();
                    showPlayer();
                    document.querySelector("#loadingLabel").innerHTML = "Status: Complete";
                }, 1000);
            }else{
                document.querySelector("#loadingLabel").innerHTML = "Status: " + data.status;
                document.querySelector("#urlInput").classList.add("active");
                document.querySelector("#submit").classList.add("active");
            }
            if (data.progress > 15){
                $(".progressBar .bg").css("width", data.progress + "%")
            }
        }

        convertSocket.onclose = function(e) {
            console.error("Websocket closed unexpectedly")
        }

        document.querySelector("#submit").onclick = function(e){
            document.querySelector("#submit").setAttribute("disabled", "");
            const urlInputDom = document.querySelector("#urlInput")
            const url = urlInputDom.value;
            convertSocket.send(JSON.stringify({ url }))
            $("#urlInput").prop('readonly', true);
        }

    </script>
</body>
</html>